/*
    created january 5 2022
*/

.main-color {
    color : #00c0ff;
}

.bg-custom {
    background-color: #00c0ff !important;
}

.info {
    margin-bottom : 15px;
    font-weight: bold;
}

.main-theme {
    margin-bottom:15px;
}

/*
wysiwyg
*/

#editor {
    resize:vertical;
    overflow:auto;
    border:1px solid silver;
    border-radius:5px;
    min-height:100px;
    padding:1em;
    background: white;
    margin:0;
    width: 100%;
}