/*
    created january 5 2022
*/

body {
    font-size : 16px;
}

.main-color, .footer a, .login-foot a, .box-color {
    color : #00c0ff !important;
    text-decoration: none;
}

.account-title {
    letter-spacing: 2px;
    color : #888;
}

.title {
    color : #979797;
}

.bg-register {
    position: relative;
    background-color: #f3f3f3;
}

.bg-login {
    background-image: linear-gradient(90deg, #00c0ff , #66c7ff, #bee3f8);
    width : 100%;
    height : 100%;
    position: relative;
}

.wave-white {
    background:url('../img/wave-white.svg') no-repeat center;
    position: absolute;
    background-size: 100%;
    width : 100%;
    height : 100%;
}

.logo {
    border-bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #f7f9fa;
    text-align: center;
}

.fix-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.gift-strap {
    background:url('../img/illust-top-gray.svg') no-repeat;
    width : 120px;
    height : 70px;
    margin-top : -55px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
    z-index : 2;
}

.gift-pos {
    margin-top : 60px;
}

[contenteditable]:focus {
    outline: 1px solid rgb(170, 170, 170);
}

.bg-custom {
    background-color: #00c0ff !important;
}

.btn-account {
    box-shadow:inset -2px -2px #0072a9
}

.info {
    margin-bottom : 15px;
    font-weight: bold;
}

.act {
    width : 100%;
    max-width : 40px;
    margin-top : 25%;
}

.big-theme {
    font-size: 54px;
    color : #a7a7a7;
    padding-top : 30px;
    padding-bottom : 16px;
    font-weight: bold;
}

.main-theme {
    margin-bottom:25px;
    font-weight: bold;
}

.giveaway-icons {
    display : inline-block;
    width : 100%;
    margin-top : 24px;
}

.icon-wrapper {
    max-width : 280px;
    color: #979797;
}

.box {
    border : 1px solid #979797;
    border-radius: 8px;
    padding: 10px;
    font-size: 22px;
    width : 44px;
    height : 44px;
    text-align: center;
    margin-right : 5px;
    cursor : pointer;
}

.box-color {
    border : 1px solid #00c0ff;
}

.del-entry {
    cursor: pointer;
}

.settings {
    display : block;
    text-decoration: none;
    padding : 10px;
    font-weight: bold;
    cursor: pointer;
}

.settings:hover {
    color: #5ed7ff !important;
}

.settings.active {
    border-radius : 8px;
    color: #00c0ff !important;
    display: block;
}

.wrapper {
    border-radius: 20px;
    background-color: #fff;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

/* Upload */
.image-upload > input
{
    display: none;
}

.image-upload .text{
    color : #b9c9cd;
    font-size: 14px;
    text-align: center;
    padding-top : 45px;
    line-height: 16px;
    letter-spacing : 2px;
}

.image-upload
{
    cursor : pointer;
    margin-right : 20px;
    width : 105px;
    height : 105px;
    background: url('../img/add-image.svg') no-repeat;
}

/* Banners */

.yt-box {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.yt-iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Contest */

.contest-title {
    font-size : 42px;
    text-align: center;
    font-weight : bold;
}

.time-contest {
    text-align: center;
    text-transform: uppercase;
    display : flex;
    width : 100%;
}

.time-contest .text
{
    width : 220px;
    padding-left : 5px;
    padding-right : 5px;
}

.bg-dot {
    background-image: url('../img/polkadot.png');
    background-repeat: repeat;
    width : 100%;
    height: 10px;
    margin-top : auto;
    margin-bottom : auto;
}

#countdown ul li {
    list-style-type: none;
    display : inline-block;
    margin-right : 10px;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
}

#countdown .count {
    font-size: 40px;
    color : #555;
}

#countdown .count-label {
    font-size : 14px;
    color : #c5c5c5;
    font-weight: bold;
}

#countdown .count-space {
    vertical-align: top;
    line-height: 25px;
}

.trophy {
    color: gold;
}

.carousel-inner {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-height : 405px;
}

.form_title {
    background-color: #dfdfdf;
    padding : 5px;
    border-radius: 10px;;
}

.ct_color {
    color : #d5d5d5;
}

.contest-form {
    margin-left : auto;
    margin-right : auto;
    max-width : 360px;
}

.desc
{
    font-size : 14px;
    text-align: center;
}

/* wysiwyg EDITOR */

#editor {
    resize:vertical;
    overflow:auto;
    border:1px solid silver;
    border-radius:5px;
    min-height:100px;
    padding:1em;
    background: white;
    margin:0;
    width: 100%;
}

/* ITL INPUT */

.iti {
    width : 100%;
}

.iti_custom {
	font-size: 18px;
	margin-left: 3px;
	color: #00c0ff;
    line-height: 1px;
    letter-spacing: 1px;
}

.iti--allow-dropdown input, .iti--allow-dropdown input[type=tel], .iti--allow-dropdown input[type=text], .iti--separate-dial-code input, .iti--separate-dial-code input[type=tel], .iti--separate-dial-code input[type=text]
{
    padding-left : 80px !important; 
    letter-spacing: 1px;
    color : #aaa;
}

.iti-wrapper {
    margin-left: auto;
    margin-right: auto;
}

/* Loading BaR */
.background-load {
    background-color: #a39f9f;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999999999;
    opacity: 0.7;
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999999999999999999;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* TERMS */
.terms {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

/* FOOTER */

.footer a {
    text-decoration : none !important;
}

.footer a:hover {
    text-decoration: underline !important;
}